<!-- <h1>Hello World!</h1> -->
<!-- <div class="jumbotron"> -->
<div>
  <img style="max-width: 100%, height: 300px" class="img-responsive" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fc90y6vygcj31cx0u0h30.jpg"  >
</div>
<div class="head_ground">
    <h1 style="color: #99ccff" class="title">New Job, New Life</h1>
    <p class="slogan">也许你只是新手
      <br>
      也许你想转行
      <br>
      那么，来这里吧
      <br>
    我们有最好的平台让你成长
    <br>
     期待你的进步
    </p>
    <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">我已经迫不及待要看看</a></p>
    <br>
  </div>

<div class = "container-fluid">
  <div class="row">
<div class="col-sm-3">
 <div class="img">
  <!-- <a target="_blank" href="img_fjords.jpg"> -->
    <img style="width: 200px; height: 160px" class="center-block img-responsive" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fc901b70hyj30zk0m8dk6.jpg" alt="互联网/电子商务"  >
    <!-- </a> -->
  <!-- <div class="desc">互联网/电子商务</div> -->
    <p class="desc"><a class="no_link" href="/jobs">互联网/电子商务</a></p>
 </div>
</div>

<div class="col-sm-3">
 <div class="img">
  <!-- <a target="_blank" href="img_fjords.jpg"> -->
    <img style="width: 200px; height: 160px" class="center-block img-responsive" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fc902uf2r8j30zk0npk5k.jpg" alt="金融／投资／证券"  >
    <!-- </a> -->
  <!-- <div class="desc">互联网/电子商务</div> -->
    <p class="desc"><a class="no_link" href="/jobs">金融／投资／证券</a></p>
 </div>
</div>
<!-- </div>
<div class="row"> -->
<div class="col-sm-3">
 <div class="img">
  <!-- <a target="_blank" href="img_fjords.jpg"> -->
    <img style="width: 200px; height: 160px" class="center-block  img-responsive" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fc9024jxznj30zk0m8k29.jpg" alt="汽车及零配件"  >
    <!-- </a> -->
  <!-- <div class="desc">互联网/电子商务</div> -->
    <p class="desc"><a class="no_link" href="/jobs">汽车及零配件</a></p>
 </div>
</div>

<div class="col-sm-3">
<div class="img">
<!-- <a target="_blank" href="img_fjords.jpg"> -->
  <img style="width: 200px; height: 160px" class="center-block  img-responsive" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fc900ou0awj312v0u00yc.jpg" alt="房地产"  >
  <!-- </a> -->
<!-- <div class="desc">互联网/电子商务</div> -->
  <p class="desc"><a class="no_link" href="/jobs">房地产</a></p>
</div>
</div>
</div>

<section id="company">
<div class = "container-fluid">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
        <div class="caption">
          <h3>北京朝阳建外SOHO</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <!-- <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail"> -->
        <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fc8rc22bz1j303k03kdfl.jpg" alt="bid" class = "img-circle" >
        <div class="caption">
          <h3>info@18koffer.com</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fc8r82rpwhj303k03k0oc.jpg" alt="heart" class = "img-thhumbnail">
        <div class="caption">
          <h3>010-12344321</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
