<!-- <h1>Hello World!</h1> -->
<div class="jumbotron">
    <h1 class="title">New Job, New Life</h1>
    <p class="slogan">如果你是新手，或者想转行
    <br>
    这里的公司能提供给你快速成长的平台
    <br>
     让你迅速成为行业大牛
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <!-- <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail"> -->
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fc8rc22bz1j303k03kdfl.jpg" alt="bid" class = "img-circle" >
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fc8r82rpwhj303k03k0oc.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
