/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
//
// .jumbotron {
// //  background-image:url('https://ww4.sinaimg.cn/large/006tKfTcgy1fc90y6vygcj31cx0u0h30.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//    padding: 0px;
//    margin:0px;
// }
.head_ground {
background-color: #eeeeee;
}
.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
  // background-color : #99ccff;
  color: white;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: blue;

  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;

    box-shadow: none;
    margin-top: 60px;
}

.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.img {
    margin: 30px;
    // border: 1px solid #ffffff;
    border: none;
    float: center;

    // width: 180px;
}

.img:hover {
    border: 1px solid #eee;
}

// .img img {
//     width: 100%;
//     height: auto;
// }

.desc {
    font-family: "Courier New";
    padding-top:  10px;
    text-align: center;

}
.no_link:hover {
    text-decoration: none;
}

// .center-block {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//  }
