// ul {
//     margin: 0;
//     padding: 0;
//     background-color: #333333;
// }
//
// li {
//     float: left;
// }
//
// li a {
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 16px;
//     text-decoration: none;
// }
//
// li a:hover {
//     background-color: #111111;
//     text-decoration: none;
// }
.list-inline_3 {
    background: #cccccc;
    color: #99ccff
}
 .list-inline_3:hover {
    text-decoration: none;
    background-color: #aaaaaa;
    color: #99ccff

}
