<footer class="container" style="margin-top: 100px;">
     <p style="text-align:center">address：北京朝阳建外SOHO, email：new_life_new_job@163.com, contact: 010-27383748</p>
     <p class="text-center">Copyright ©2017 job_listing
        <br>Design by chenshuobing
     </p>
</footer>
